<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2>Task Gestor</h2>
  
      <mat-form-field appearance="fill">
        <mat-label>Nombre de Usuario</mat-label>
        <input matInput formControlName="username" />
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="'password'" formControlName="password" />
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit">Login</button>
  
      <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    </form>
  </div>
  